{
  "openapi": "3.1.0",
  "info": {
    "title": "Decionis CommerceGate API",
    "version": "1.3.0",
    "description": "Canonical CommerceGate contract for the synchronous ERP guard and the tenant-bound Decionis Protocol operations used by the local CommerceGate MCP adapter, plus the licensed AWS historical assessment and synthetic trial features on the Commerce API."
  },
  "servers": [
    {
      "url": "https://api.decionis.com"
    }
  ],
  "paths": {
    "/v1/guard/validate": {
      "post": {
        "operationId": "validateErpTransaction",
        "summary": "Validate one bounded ERP transaction through CommerceGate",
        "description": "Performs enforced binary policy validation and atomic agent-budget authorization for a complete Dynamics 365 transaction. It returns ALLOW or BLOCK but never writes, posts, releases, or modifies the ERP transaction.",
        "x-commercegate-mcp": true,
        "x-commercegate-tools": ["commercegate_validate_erp_transaction"],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "X-ERP-Region",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 50
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GuardRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Central binary decision",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuardResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/protocol/evaluate-decision": {
      "post": {
        "operationId": "evaluateCommerceDecision",
        "summary": "Record one tenant-bound commerce action evaluation in Shadow Mode",
        "description": "The Commerce Gate MCP always submits SHADOW and requires the response to confirm SHADOW. `commercegate_evaluate_action` accepts all seven canonical commerce action types. For the live Walmart Marketplace connector, Commerce Evaluation, Price Guard, Order Guard, order interception, margin protection, release, hold, and cancel map to those canonical preflights. Order acceptance and price change use native margin mappings; inventory, fulfillment, promotion, refund, and return are generic Protocol evaluations whose outcome depends on the tenant policy and supplied signals. `commercegate_evaluate_marketplace_offer_submission` accepts a separate, bounded Microsoft Partner Center or AWS Marketplace SaaS offer packet with digest-bound release evidence. Either evaluation can create decision evidence but never executes a marketplace action or submits an offer.",
        "x-commercegate-mcp": true,
        "x-commercegate-tools": [
          "commercegate_evaluate_action",
          "commercegate_evaluate_marketplace_offer_submission"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 180
            },
            "description": "Stable key reused for retries of the same proposed action."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/CommerceEvaluationRequest"
                  },
                  {
                    "$ref": "#/components/schemas/MarketplaceOfferSubmissionPreflightRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Shadow Mode evaluation and evidence references",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommerceEvaluationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/protocol/dossiers/{dossierId}": {
      "get": {
        "operationId": "getDecisionDossier",
        "summary": "Read one tenant-bound signed Decision Dossier",
        "x-commercegate-mcp": true,
        "x-commercegate-tools": ["commercegate_get_dossier"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DossierId"
          },
          {
            "$ref": "#/components/parameters/OrganizationId"
          }
        ],
        "responses": {
          "200": {
            "description": "Signed Decision Dossier",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DecisionDossier"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/protocol/dossiers/{dossierId}/proof-packet": {
      "get": {
        "operationId": "getDecisionProofPacket",
        "summary": "Read the verification proof packet for one tenant-bound Decision Dossier",
        "x-commercegate-mcp": true,
        "x-commercegate-tools": ["commercegate_get_proof_packet"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DossierId"
          },
          {
            "$ref": "#/components/parameters/OrganizationId"
          }
        ],
        "responses": {
          "200": {
            "description": "Decision Dossier proof packet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DecisionProofPacket"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/protocol/shadow-reports": {
      "get": {
        "operationId": "listCommerceShadowReports",
        "summary": "Read tenant-bound Shadow Mode reports and aggregate outcomes",
        "x-commercegate-mcp": true,
        "x-commercegate-tools": [
          "commercegate_list_shadow_reports",
          "commercegate_summarize_shadow_reports"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/OrganizationId"
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 365,
              "default": 30
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Shadow Mode report document containing rows and aggregate views",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShadowReportDocument"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/aws/commerce/trial/evaluations": {
      "post": {
        "operationId": "evaluateAwsTrialSample",
        "summary": "Evaluate a labelled synthetic sample in a verified AgentSaaS trial",
        "description": "Requires a source-verified active trial. The server generates a synthetic SHADOW proposal; callers cannot supply customer data, policy, organization, execution mode or transaction payloads. The actual Protocol decision is returned without promising a particular outcome. At most 10,000 unique evaluations are admitted across the 14-day trial. Replays reuse the same idempotency key and never consume an additional slot. Expiry and the cap stop new evaluations without paid overage or automatic paid conversion. This additive trial feature does not replace the paid governance APIs. Billing/trial activation is default-off until deployment validation.",
        "servers": [
          {
            "url": "https://commerce.decionis.com"
          }
        ],
        "x-commercegate-mcp": false,
        "x-commercegate-tools": [],
        "security": [
          {
            "AwsCommerceBearer": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Optional; must match idempotency_key in the JSON body.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AwsTrialEvaluationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Actual synthetic Shadow evaluation; not cacheable",
            "headers": {
              "X-Decionis-Evaluation-Id": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommerceEvaluationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HistoricalError"
          },
          "401": {
            "$ref": "#/components/responses/HistoricalError"
          },
          "402": {
            "description": "Trial evaluation allowance exhausted; no charge is created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error"],
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string",
                      "const": "AWS_TRIAL_LIMIT_REACHED"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/HistoricalError"
          },
          "409": {
            "$ref": "#/components/responses/HistoricalError"
          },
          "429": {
            "$ref": "#/components/responses/HistoricalError"
          },
          "503": {
            "$ref": "#/components/responses/HistoricalError"
          }
        }
      }
    },
    "/aws/commerce/history/sources": {
      "get": {
        "operationId": "listAwsHistoricalSources",
        "summary": "List licensed synthetic and connected-store historical assessment sources",
        "servers": [
          {
            "url": "https://commerce.decionis.com"
          }
        ],
        "x-commercegate-mcp": false,
        "x-commercegate-managed-http": true,
        "description": "Requires deployed, enabled AWS historical routes and a current AWS/Account license. The organization comes only from the credential. Lists the versioned synthetic example and supported stores already connected to that organization; no new registration, store connection or trial entitlement is created. AgentOps managed HTTP helpers use this API; the seven-tool local STDIO MCP inventory is unchanged. Commerce Gate uses the purchase-session BFF separately.",
        "security": [
          {
            "AwsCommerceBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Bounded source choices; no credentials or customer payloads",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoricalSources"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HistoricalError"
          },
          "401": {
            "$ref": "#/components/responses/HistoricalError"
          },
          "429": {
            "$ref": "#/components/responses/HistoricalRateLimit"
          },
          "503": {
            "$ref": "#/components/responses/HistoricalError"
          }
        }
      }
    },
    "/aws/commerce/history/assessments": {
      "post": {
        "operationId": "startAwsHistoricalAssessment",
        "summary": "Assess a bounded previous-90-day history without executing commerce actions",
        "servers": [
          {
            "url": "https://commerce.decionis.com"
          }
        ],
        "x-commercegate-mcp": false,
        "x-commercegate-managed-http": true,
        "description": "Additive historical feature; it does not replace the existing governance APIs. Requires deployed, enabled AWS historical routes and a current licensed credential. The server fixes the previous 90-day window by transaction time. Accepts only a supported connected-store UUID or the labelled synthetic dataset, never raw transactions, organization, dates or a policy override. Reusing a request key returns the immutable original result; rebinding its source returns 409. Responses are at most 100 KiB, with at most 100 records assessed. Partial history, missing item costs and timestamp gaps remain visible. Results measure merchandise margin only, excluding shipping, taxes and payment or platform fees. Inline results are unsigned, with null proof_ref; no signed dossier is claimed. Synthetic examples use an explicit sample 12 percent floor, never a guessed customer policy. A verified 14-day AWS trial uses its actual entitlement expiry; this endpoint never starts or extends a trial. No platform or AWS usage write.",
        "security": [
          {
            "AwsCommerceBearer": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "If supplied, must equal the required body idempotency_key.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Maximum 2 KiB; no extra fields accepted.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HistoricalRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Immutable completed or failed assessment; failures contain stable error codes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoricalAssessment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HistoricalError"
          },
          "401": {
            "$ref": "#/components/responses/HistoricalError"
          },
          "403": {
            "$ref": "#/components/responses/HistoricalError"
          },
          "409": {
            "$ref": "#/components/responses/HistoricalError"
          },
          "413": {
            "$ref": "#/components/responses/HistoricalError"
          },
          "429": {
            "$ref": "#/components/responses/HistoricalRateLimit"
          },
          "503": {
            "$ref": "#/components/responses/HistoricalError"
          }
        }
      }
    },
    "/aws/commerce/history/assessments/{assessmentId}": {
      "get": {
        "operationId": "getAwsHistoricalAssessment",
        "summary": "Read one immutable assessment bound to the current organization and AWS grant",
        "servers": [
          {
            "url": "https://commerce.decionis.com"
          }
        ],
        "x-commercegate-mcp": false,
        "x-commercegate-managed-http": true,
        "description": "Requires deployed, enabled AWS historical routes. Every read rechecks the current license, credential revocation and expiry. No organization query argument is accepted. Results contain minimized unsigned historical evidence, not live transaction payloads or execution authority. At most 100 KiB.",
        "security": [
          {
            "AwsCommerceBearer": []
          }
        ],
        "parameters": [
          {
            "name": "assessmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Exact stored assessment, including its original source and 90-day window",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoricalAssessment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HistoricalError"
          },
          "401": {
            "$ref": "#/components/responses/HistoricalError"
          },
          "403": {
            "$ref": "#/components/responses/HistoricalError"
          },
          "404": {
            "$ref": "#/components/responses/HistoricalError"
          },
          "429": {
            "$ref": "#/components/responses/HistoricalRateLimit"
          },
          "503": {
            "$ref": "#/components/responses/HistoricalError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "AwsCommerceBearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "AWS Commerce API key delivered through approved Marketplace provisioning. Organization and license are server-bound; no caller org_id is accepted."
      },
      "ApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Decionis-API-Key"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "DECIONIS_API_KEY supplied as an Authorization Bearer credential by the local MCP process. DECIONIS_ORG_ID separately binds the tenant request."
      }
    },
    "parameters": {
      "DossierId": {
        "name": "dossierId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "OrganizationId": {
        "name": "org_id",
        "in": "query",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "description": "Organization UUID sourced from the MCP process environment."
      }
    },
    "schemas": {
      "AwsTrialEvaluationRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["sample", "idempotency_key"],
        "properties": {
          "sample": {
            "type": "string",
            "enum": ["healthy", "below_cost"]
          },
          "idempotency_key": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "pattern": "^[!-~]+$"
          }
        }
      },
      "HistoricalRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["source", "idempotency_key"],
        "properties": {
          "source": {
            "oneOf": [
              {
                "type": "object",
                "additionalProperties": false,
                "required": ["kind"],
                "properties": {
                  "kind": {
                    "type": "string",
                    "const": "synthetic"
                  }
                }
              },
              {
                "type": "object",
                "additionalProperties": false,
                "required": ["kind", "connection_id"],
                "properties": {
                  "kind": {
                    "type": "string",
                    "const": "connected_store"
                  },
                  "connection_id": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            ]
          },
          "idempotency_key": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "pattern": "^[A-Za-z0-9._:-]+$"
          }
        }
      },
      "HistoricalSources": {
        "type": "object",
        "additionalProperties": false,
        "required": ["mode", "window_days", "sources", "connected_store_required"],
        "properties": {
          "mode": {
            "type": "string",
            "const": "historical_only"
          },
          "window_days": {
            "type": "integer",
            "const": 90
          },
          "connected_store_required": {
            "type": "boolean"
          },
          "sources": {
            "type": "array",
            "minItems": 1,
            "maxItems": 21,
            "items": {
              "oneOf": [
                {
                  "type": "object",
                  "additionalProperties": false,
                  "required": ["kind", "dataset_version", "label"],
                  "properties": {
                    "kind": {
                      "type": "string",
                      "const": "synthetic"
                    },
                    "dataset_version": {
                      "type": "string",
                      "const": "commerce-history-v1"
                    },
                    "label": {
                      "type": "string",
                      "const": "Synthetic commerce history"
                    }
                  }
                },
                {
                  "type": "object",
                  "additionalProperties": false,
                  "required": ["kind", "connection_id", "platform", "label"],
                  "properties": {
                    "kind": {
                      "type": "string",
                      "const": "connected_store"
                    },
                    "connection_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "platform": {
                      "type": "string",
                      "const": "adobe-commerce"
                    },
                    "label": {
                      "type": "string",
                      "const": "Connected Adobe Commerce store"
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "HistoricalAssessment": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "assessment_id",
          "status",
          "mode",
          "cost_scope",
          "window",
          "provenance",
          "policy",
          "summary",
          "evidence",
          "coverage",
          "truncated"
        ],
        "properties": {
          "assessment_id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": ["completed", "failed"]
          },
          "mode": {
            "type": "string",
            "const": "historical_only",
            "description": "Scope of this assessment feature, not the broader products or APIs."
          },
          "cost_scope": {
            "type": "string",
            "const": "merchandise_margin",
            "description": "Merchandise subtotal minus discount and reported item cost; shipping, tax and payment/platform fees excluded."
          },
          "window": {
            "type": "object",
            "additionalProperties": false,
            "required": ["days", "start", "end", "timestamp_field"],
            "properties": {
              "days": {
                "type": "integer",
                "const": 90
              },
              "start": {
                "type": "string",
                "format": "date-time",
                "description": "Inclusive UTC transaction-time lower bound."
              },
              "end": {
                "type": "string",
                "format": "date-time",
                "description": "Exclusive captured UTC end; exactly 90 days after start."
              },
              "timestamp_field": {
                "type": "string",
                "const": "transaction_at"
              }
            }
          },
          "provenance": {
            "oneOf": [
              {
                "type": "object",
                "additionalProperties": false,
                "required": ["kind", "label", "dataset_version"],
                "properties": {
                  "kind": {
                    "type": "string",
                    "const": "synthetic"
                  },
                  "label": {
                    "type": "string",
                    "const": "Synthetic commerce history"
                  },
                  "dataset_version": {
                    "type": "string",
                    "const": "commerce-history-v1"
                  }
                }
              },
              {
                "type": "object",
                "additionalProperties": false,
                "required": ["kind", "label", "connection_id", "platform"],
                "properties": {
                  "kind": {
                    "type": "string",
                    "const": "connected_store"
                  },
                  "label": {
                    "type": "string",
                    "const": "Connected Adobe Commerce history"
                  },
                  "connection_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "platform": {
                    "type": "string",
                    "const": "adobe-commerce"
                  }
                }
              }
            ]
          },
          "policy": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "object",
                "additionalProperties": false,
                "required": ["kind", "version", "floor_percent"],
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": ["sample", "merchant"]
                  },
                  "version": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100,
                    "pattern": "^[A-Za-z0-9._:-]+$"
                  },
                  "floor_percent": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 100
                  }
                }
              }
            ]
          },
          "summary": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "transactions_scanned",
              "evaluated",
              "missing_cost",
              "excluded_timestamp",
              "evaluation_errors",
              "allow",
              "hold",
              "escalate"
            ],
            "properties": {
              "transactions_scanned": {
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              },
              "evaluated": {
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              },
              "missing_cost": {
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              },
              "excluded_timestamp": {
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              },
              "evaluation_errors": {
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              },
              "allow": {
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              },
              "hold": {
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              },
              "escalate": {
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              }
            }
          },
          "evidence": {
            "type": "array",
            "maxItems": 100,
            "items": {
              "type": "object",
              "additionalProperties": false,
              "required": ["record_id", "transaction_at", "decision", "reason_codes", "proof_ref"],
              "properties": {
                "record_id": {
                  "type": "string",
                  "pattern": "^[a-f0-9]{64}$",
                  "minLength": 64,
                  "maxLength": 64
                },
                "transaction_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "decision": {
                  "type": "string",
                  "enum": ["PROCEED", "HOLD", "ESCALATE"],
                  "description": "Retrospective rule result only; never permission to execute."
                },
                "reason_codes": {
                  "type": "array",
                  "maxItems": 4,
                  "items": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64
                  }
                },
                "proof_ref": {
                  "type": "null",
                  "description": "Inline historical results are unsigned; no signed proof reference is issued."
                }
              }
            }
          },
          "coverage": {
            "type": "object",
            "additionalProperties": false,
            "required": ["record_limit", "complete"],
            "properties": {
              "record_limit": {
                "type": "integer",
                "const": 100
              },
              "complete": {
                "type": "boolean",
                "description": "False for truncation",
                "missing costs": null,
                "duplicate records": null,
                "invalid timestamps or evaluation errors.": null
              }
            }
          },
          "truncated": {
            "type": "boolean"
          },
          "error_code": {
            "type": "string",
            "enum": [
              "CONNECTED_STORE_REQUIRED",
              "HISTORICAL_POLICY_REQUIRED",
              "HISTORICAL_SOURCE_UNAVAILABLE"
            ]
          }
        }
      },
      "HistoricalError": {
        "type": "object",
        "additionalProperties": false,
        "required": ["error"],
        "properties": {
          "error": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          }
        }
      },
      "GuardLine": {
        "type": "object",
        "additionalProperties": false,
        "required": ["line_id", "sku", "quantity", "unit_price", "cost_base"],
        "properties": {
          "line_id": {
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          "sku": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "quantity": {
            "type": "number",
            "exclusiveMinimum": 0,
            "maximum": 1000000000
          },
          "unit_price": {
            "type": "number",
            "minimum": 0,
            "maximum": 1000000000000
          },
          "cost_base": {
            "type": "number",
            "minimum": 0,
            "maximum": 1000000000000
          }
        }
      },
      "GuardRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "transaction_id",
          "erp_type",
          "tenant_id",
          "timestamp",
          "agent_id",
          "currency",
          "lines"
        ],
        "properties": {
          "transaction_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          },
          "erp_type": {
            "type": "string",
            "enum": ["D365_BC", "D365_FSCM"]
          },
          "tenant_id": {
            "type": "string",
            "format": "uuid"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "agent_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          },
          "currency": {
            "type": "string",
            "pattern": "^[A-Z]{3}$"
          },
          "lines": {
            "type": "array",
            "minItems": 1,
            "maxItems": 200,
            "items": {
              "$ref": "#/components/schemas/GuardLine"
            }
          }
        }
      },
      "GuardResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": ["decision", "transaction_id", "execution_time_ms", "reason_code", "message"],
        "properties": {
          "decision": {
            "type": "string",
            "enum": ["ALLOW", "BLOCK"]
          },
          "transaction_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          },
          "execution_time_ms": {
            "type": "number",
            "minimum": 0
          },
          "reason_code": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "message": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500
          }
        }
      },
      "CommerceEvaluationRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "org_id",
          "decision_type",
          "transaction_type",
          "workflow_key",
          "channel",
          "source",
          "mode",
          "idempotency_key",
          "context"
        ],
        "properties": {
          "org_id": {
            "type": ["string", "null"],
            "format": "uuid",
            "description": "Environment-bound organization. The Commerce Gate MCP sends null so the API derives the tenant from its configured credential."
          },
          "decision_type": {
            "type": "string",
            "enum": [
              "PRICE_CHANGE",
              "INVENTORY_MUTATION",
              "ORDER_ACCEPTANCE",
              "FULFILLMENT_ACTION",
              "PROMOTION_CHANGE",
              "REFUND_REQUEST",
              "RETURN_AUTHORIZATION"
            ]
          },
          "transaction_type": {
            "type": "string",
            "enum": [
              "price_change",
              "inventory_mutation",
              "order_acceptance",
              "fulfillment_action",
              "promotion_change",
              "refund_request",
              "return_authorization"
            ]
          },
          "workflow_key": {
            "type": "string",
            "enum": [
              "commerce_price_change",
              "commerce_inventory_mutation",
              "commerce_order_acceptance",
              "commerce_fulfillment_action",
              "commerce_promotion_change",
              "commerce_refund_request",
              "commerce_return_authorization"
            ]
          },
          "amount": {
            "type": "number",
            "minimum": 0,
            "description": "Monetary action amount. Omitted for non-monetary actions."
          },
          "channel": {
            "type": "string",
            "description": "Who is asking. The CommerceGate MCP sends mcp; a repricer, ERP job, workflow or direct API integration names itself so the dossier records the actor.",
            "enum": ["mcp", "repricer", "erp", "workflow", "api"]
          },
          "source": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120,
            "description": "The tool asking, for the dossier: commercegate-mcp for the MCP, or the name of your repricer, ERP or workflow."
          },
          "mode": {
            "type": "string",
            "const": "SHADOW"
          },
          "idempotency_key": {
            "type": "string",
            "minLength": 1,
            "maxLength": 180
          },
          "policy_version": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "require_exact_policy_version": {
            "type": "boolean",
            "const": true
          },
          "context": {
            "type": "object",
            "description": "Bounded normalized action, derived commerce facts, and a nested signals object used by Commerce policies (for example signals.net_margin_percent for a price change). Generic Shadow evaluation does not assert that a connected platform can execute the action.",
            "additionalProperties": true
          }
        }
      },
      "MarketplaceOfferSubmissionPreflightRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "org_id",
          "decision_type",
          "transaction_type",
          "workflow_key",
          "channel",
          "source",
          "mode",
          "idempotency_key",
          "context"
        ],
        "properties": {
          "org_id": {
            "type": ["string", "null"],
            "format": "uuid",
            "description": "Environment-bound organization. The Commerce Gate MCP sends null so the API derives the tenant from its configured credential."
          },
          "decision_type": {
            "type": "string",
            "const": "MARKETPLACE_OFFER_SUBMISSION"
          },
          "transaction_type": {
            "type": "string",
            "const": "marketplace_offer_submission"
          },
          "workflow_key": {
            "type": "string",
            "const": "commerce_marketplace_offer_submission"
          },
          "channel": {
            "type": "string",
            "const": "mcp"
          },
          "source": {
            "type": "string",
            "const": "commercegate-mcp"
          },
          "mode": {
            "type": "string",
            "const": "SHADOW"
          },
          "idempotency_key": {
            "type": "string",
            "minLength": 1,
            "maxLength": 180
          },
          "policy_version": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "require_exact_policy_version": {
            "type": "boolean",
            "const": true
          },
          "context": {
            "type": "object",
            "required": ["submission"],
            "properties": {
              "submission": {
                "$ref": "#/components/schemas/MarketplaceOfferSubmissionPacket"
              }
            },
            "additionalProperties": true,
            "description": "The client records the strict submission packet plus derived facts and signals. The packet carries no credentials and does not grant write access to a marketplace."
          }
        }
      },
      "MarketplaceOfferSubmissionPacket": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "actor",
          "marketplace",
          "publisher_id",
          "offer_id",
          "offer_name",
          "offer_type",
          "idempotency_key",
          "plans",
          "landing_page_url",
          "connection_webhook_url",
          "support_url",
          "privacy_policy_url",
          "terms_of_use_url",
          "marketplace_identity",
          "release_evidence"
        ],
        "properties": {
          "actor": {
            "type": "object",
            "additionalProperties": false,
            "required": ["type", "id"],
            "properties": {
              "type": {
                "type": "string",
                "enum": ["HUMAN", "ERP", "REPRICER", "WORKFLOW", "AGENT", "UNKNOWN"]
              },
              "id": {
                "type": "string",
                "minLength": 1,
                "maxLength": 200
              }
            }
          },
          "marketplace": {
            "type": "string",
            "enum": ["MICROSOFT_PARTNER_CENTER", "AWS_MARKETPLACE"]
          },
          "publisher_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "offer_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "offer_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "offer_type": {
            "type": "string",
            "const": "SAAS"
          },
          "idempotency_key": {
            "type": "string",
            "minLength": 1,
            "maxLength": 180
          },
          "plans": {
            "type": "array",
            "minItems": 1,
            "maxItems": 100,
            "items": {
              "type": "object",
              "additionalProperties": false,
              "required": ["plan_id", "display_name", "billing_term", "markets"],
              "properties": {
                "plan_id": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 200
                },
                "display_name": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 200
                },
                "billing_term": {
                  "type": "string",
                  "enum": ["MONTHLY", "ANNUAL", "ONE_TIME"]
                },
                "markets": {
                  "type": "array",
                  "minItems": 1,
                  "maxItems": 150,
                  "items": {
                    "type": "string",
                    "pattern": "^[A-Z]{2}$"
                  }
                }
              }
            }
          },
          "landing_page_url": {
            "$ref": "#/components/schemas/MarketplacePublicHttpsUrl"
          },
          "connection_webhook_url": {
            "$ref": "#/components/schemas/MarketplacePublicHttpsUrl"
          },
          "support_url": {
            "$ref": "#/components/schemas/MarketplacePublicHttpsUrl"
          },
          "privacy_policy_url": {
            "$ref": "#/components/schemas/MarketplacePublicHttpsUrl"
          },
          "terms_of_use_url": {
            "$ref": "#/components/schemas/MarketplacePublicHttpsUrl"
          },
          "marketplace_identity": {
            "$ref": "#/components/schemas/MarketplaceOfferIdentity"
          },
          "business_central_extension": {
            "type": "object",
            "additionalProperties": false,
            "required": ["app_id", "version"],
            "properties": {
              "app_id": {
                "type": "string",
                "format": "uuid"
              },
              "version": {
                "type": "string",
                "minLength": 1,
                "maxLength": 120
              }
            }
          },
          "release_evidence": {
            "$ref": "#/components/schemas/MarketplaceOfferReleaseEvidence"
          }
        }
      },
      "MarketplaceOfferIdentity": {
        "oneOf": [
          {
            "type": "object",
            "additionalProperties": false,
            "required": ["provider", "tenant_id", "application_id"],
            "properties": {
              "provider": {
                "type": "string",
                "const": "MICROSOFT_ENTRA"
              },
              "tenant_id": {
                "type": "string",
                "format": "uuid"
              },
              "application_id": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "provider",
              "subject",
              "aws_account_id",
              "aws_iam_role_arn",
              "seller_offer_access_verified"
            ],
            "properties": {
              "provider": {
                "type": "string",
                "const": "LOGIN_WITH_AMAZON"
              },
              "subject": {
                "type": "string",
                "minLength": 1,
                "maxLength": 200
              },
              "aws_account_id": {
                "type": "string",
                "pattern": "^[0-9]{12}$"
              },
              "aws_iam_role_arn": {
                "type": "string",
                "maxLength": 512,
                "pattern": "^arn:aws(?:-[a-z-]+)?:iam::[0-9]{12}:role/.+"
              },
              "seller_offer_access_verified": {
                "type": "boolean",
                "const": true
              }
            }
          }
        ],
        "description": "Microsoft Partner Center requires an Entra tenant and application identity. AWS Marketplace requires a Login with Amazon subject linked to the seller AWS account and IAM role with offer-management access. The MCP validates that the identity matches the chosen marketplace and never exchanges its credentials."
      },
      "MarketplaceOfferReleaseEvidence": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "marketplace_draft_status",
          "offer_listing_verified",
          "technical_configuration_verified",
          "preview_or_test_verified",
          "marketplace_identity_verified",
          "submission_payload_sha256",
          "release_evidence_sha256"
        ],
        "properties": {
          "marketplace_draft_status": {
            "type": "string",
            "const": "READY_TO_PUBLISH"
          },
          "offer_listing_verified": {
            "type": "boolean",
            "const": true
          },
          "technical_configuration_verified": {
            "type": "boolean",
            "const": true
          },
          "preview_or_test_verified": {
            "type": "boolean",
            "const": true
          },
          "marketplace_identity_verified": {
            "type": "boolean",
            "const": true
          },
          "submission_payload_sha256": {
            "$ref": "#/components/schemas/Sha256Digest"
          },
          "release_evidence_sha256": {
            "$ref": "#/components/schemas/Sha256Digest"
          }
        }
      },
      "MarketplacePublicHttpsUrl": {
        "type": "string",
        "format": "uri",
        "maxLength": 2048,
        "pattern": "^https://",
        "description": "Public HTTPS URL with no embedded credentials, query parameters, or fragment. The MCP parser enforces those URL restrictions before sending the request."
      },
      "Sha256Digest": {
        "type": "string",
        "pattern": "^sha256:[a-f0-9]{64}$"
      },
      "CommerceEvaluationResponse": {
        "type": "object",
        "required": [
          "outcome",
          "confidence",
          "policy_version",
          "objective_profile",
          "dossier_id",
          "evaluation_id",
          "mode",
          "fallback_to_legacy",
          "governance_metrics",
          "idempotent_replay"
        ],
        "properties": {
          "mode": {
            "type": "string",
            "const": "SHADOW"
          },
          "outcome": {
            "type": "string",
            "enum": ["APPROVE", "REJECT", "REVIEW", "ESCALATE"]
          },
          "confidence": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "policy_version": {
            "type": "string"
          },
          "objective_profile": {
            "type": "string"
          },
          "dossier_id": {
            "type": "string",
            "format": "uuid"
          },
          "evaluation_id": {
            "type": "string",
            "format": "uuid"
          },
          "reason_codes": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            }
          },
          "fallback_to_legacy": {
            "type": "boolean"
          },
          "governance_metrics": {
            "$ref": "#/components/schemas/CommerceGovernanceMetrics"
          },
          "idempotent_replay": {
            "type": "boolean"
          }
        },
        "additionalProperties": true
      },
      "CommerceGovernanceMetrics": {
        "type": "object",
        "required": [
          "override_drift_rate",
          "governance_tension_index",
          "boundary_volatility_score",
          "decision_volume_under_governance"
        ],
        "properties": {
          "override_drift_rate": {
            "type": "number"
          },
          "governance_tension_index": {
            "type": "number"
          },
          "boundary_volatility_score": {
            "type": "number"
          },
          "decision_volume_under_governance": {
            "type": "number"
          }
        },
        "additionalProperties": true
      },
      "DecisionDossier": {
        "type": "object",
        "description": "Signed decision record returned by the Decionis Protocol API.",
        "required": ["service", "protocol_version", "dossier"],
        "properties": {
          "service": {
            "type": "string"
          },
          "protocol_version": {
            "type": "string"
          },
          "dossier": {
            "$ref": "#/components/schemas/DecisionDossierRecord"
          }
        },
        "additionalProperties": true
      },
      "DecisionDossierRecord": {
        "type": "object",
        "required": [
          "dossier_id",
          "org_id",
          "decision_evaluation_id",
          "dossier_payload",
          "evidence_hashes",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "dossier_id": {
            "type": "string",
            "format": "uuid"
          },
          "org_id": {
            "type": "string",
            "format": "uuid"
          },
          "decision_evaluation_id": {
            "type": "string",
            "format": "uuid"
          },
          "dossier_payload": {
            "type": "object",
            "additionalProperties": true
          },
          "evidence_hashes": {
            "type": "array",
            "items": {
              "type": "string",
              "pattern": "^[0-9a-f]{64}$"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": true
      },
      "DecisionProofPacket": {
        "type": "object",
        "description": "Verification material for a Decision Dossier.",
        "required": [
          "service",
          "protocol_version",
          "packet_type",
          "packet_version",
          "issued_at",
          "subject",
          "dossier",
          "policy_snapshot",
          "ledger_anchor",
          "proof_bundle",
          "proof_artifact_results",
          "verification",
          "verify_instructions"
        ],
        "properties": {
          "service": {
            "type": "string"
          },
          "protocol_version": {
            "type": "string"
          },
          "packet_type": {
            "type": "string",
            "const": "decionis.decision_dossier.proof_packet"
          },
          "packet_version": {
            "type": "string",
            "const": "1.0"
          },
          "issued_at": {
            "type": "string",
            "format": "date-time"
          },
          "subject": {
            "$ref": "#/components/schemas/DecisionProofSubject"
          },
          "dossier": {
            "type": "object",
            "additionalProperties": true
          },
          "policy_snapshot": {
            "type": ["object", "null"],
            "additionalProperties": true
          },
          "ledger_anchor": {
            "$ref": "#/components/schemas/DecisionProofLedgerAnchor"
          },
          "proof_bundle": {
            "type": ["object", "null"],
            "additionalProperties": true
          },
          "proof_artifact_results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DecisionProofArtifactResult"
            }
          },
          "verification": {
            "$ref": "#/components/schemas/DecisionProofVerification"
          },
          "verify_instructions": {
            "$ref": "#/components/schemas/DecisionProofInstructions"
          }
        },
        "additionalProperties": true
      },
      "DecisionProofSubject": {
        "type": "object",
        "required": ["org_id", "dossier_id"],
        "properties": {
          "org_id": {
            "type": "string",
            "format": "uuid"
          },
          "dossier_id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "additionalProperties": true
      },
      "DecisionProofLedgerAnchor": {
        "type": "object",
        "required": ["ledger_entry_id", "ledger_entry_hash", "chain_verification"],
        "properties": {
          "ledger_entry_id": {
            "type": ["string", "null"]
          },
          "ledger_entry_hash": {
            "type": ["string", "null"]
          },
          "chain_verification": {
            "type": "object",
            "required": ["valid"],
            "properties": {
              "valid": {
                "type": ["boolean", "null"]
              }
            },
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "DecisionProofArtifactResult": {
        "type": "object",
        "required": [
          "artifact_kind",
          "document_path",
          "document_found",
          "digest_matched",
          "signature_verified"
        ],
        "properties": {
          "artifact_kind": {
            "type": "string"
          },
          "document_path": {
            "type": "string"
          },
          "document_found": {
            "type": "boolean"
          },
          "digest_matched": {
            "type": "boolean"
          },
          "signature_verified": {
            "type": "boolean"
          }
        },
        "additionalProperties": true
      },
      "DecisionProofVerification": {
        "type": "object",
        "required": [
          "signature_verified",
          "policy_snapshot_verified",
          "chain_integrity_verified",
          "proof_bundle_verified",
          "overall",
          "checked_at",
          "checks"
        ],
        "properties": {
          "signature_verified": {
            "type": "boolean"
          },
          "policy_snapshot_verified": {
            "type": "boolean"
          },
          "chain_integrity_verified": {
            "type": "boolean"
          },
          "proof_bundle_verified": {
            "type": "boolean"
          },
          "overall": {
            "type": "string",
            "enum": ["VERIFIED", "PARTIAL", "UNVERIFIED"]
          },
          "checked_at": {
            "type": "string",
            "format": "date-time"
          },
          "checks": {
            "type": "array",
            "minItems": 4,
            "maxItems": 4,
            "items": {
              "$ref": "#/components/schemas/DecisionProofVerificationCheck"
            }
          }
        },
        "additionalProperties": true
      },
      "DecisionProofVerificationCheck": {
        "type": "object",
        "required": ["key", "label", "verified", "severity", "detail"],
        "properties": {
          "key": {
            "type": "string",
            "enum": ["signature", "policy_snapshot", "chain_integrity", "proof_bundle"]
          },
          "label": {
            "type": "string"
          },
          "verified": {
            "type": "boolean"
          },
          "severity": {
            "type": "string",
            "enum": ["pass", "warn", "fail"]
          },
          "detail": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "DecisionProofInstructions": {
        "type": "object",
        "required": ["algorithm", "public_jwks_path", "key_id", "rotation_policy", "steps"],
        "properties": {
          "algorithm": {
            "type": "string",
            "const": "Ed25519"
          },
          "public_jwks_path": {
            "type": "string"
          },
          "key_id": {
            "type": ["string", "null"]
          },
          "rotation_policy": {
            "type": ["object", "null"],
            "additionalProperties": true
          },
          "steps": {
            "type": "array",
            "minItems": 4,
            "maxItems": 4,
            "items": {
              "type": "string"
            }
          }
        },
        "additionalProperties": true
      },
      "ShadowReportDocument": {
        "type": "object",
        "description": "Canonical Shadow Mode report document used for row and aggregate views.",
        "required": [
          "service",
          "generated_at",
          "org_id",
          "window_days",
          "since",
          "summary",
          "cards",
          "reason_breakdown",
          "candidate_enforcement_paths",
          "near_misses",
          "recent_evaluations"
        ],
        "properties": {
          "service": {
            "type": "string",
            "const": "decionis"
          },
          "generated_at": {
            "type": "string",
            "format": "date-time"
          },
          "org_id": {
            "type": "string",
            "format": "uuid"
          },
          "window_days": {
            "type": "integer",
            "minimum": 1,
            "maximum": 365
          },
          "since": {
            "type": "string",
            "format": "date-time"
          },
          "summary": {
            "$ref": "#/components/schemas/ShadowReportSummary"
          },
          "cards": {
            "type": "array",
            "minItems": 5,
            "maxItems": 5,
            "items": {
              "$ref": "#/components/schemas/ShadowReportCard"
            }
          },
          "reason_breakdown": {
            "type": "array",
            "maxItems": 8,
            "items": {
              "$ref": "#/components/schemas/ShadowReportReason"
            }
          },
          "candidate_enforcement_paths": {
            "type": "array",
            "maxItems": 100,
            "items": {
              "$ref": "#/components/schemas/ShadowReportPath"
            }
          },
          "near_misses": {
            "type": "array",
            "maxItems": 100,
            "items": {
              "$ref": "#/components/schemas/ShadowReportEvaluation"
            }
          },
          "recent_evaluations": {
            "type": "array",
            "maxItems": 100,
            "items": {
              "$ref": "#/components/schemas/ShadowReportEvaluation"
            }
          }
        },
        "additionalProperties": true
      },
      "ShadowReportSummary": {
        "type": "object",
        "required": [
          "shadow_evaluations",
          "would_allow",
          "would_block",
          "would_escalate",
          "review_required",
          "non_allow_count",
          "non_allow_rate",
          "policy_drift_count",
          "policy_drift_rate",
          "near_miss_count",
          "near_miss_rate",
          "candidate_enforcement_path_count"
        ],
        "properties": {
          "shadow_evaluations": {
            "type": "integer",
            "minimum": 0
          },
          "would_allow": {
            "type": "integer",
            "minimum": 0
          },
          "would_block": {
            "type": "integer",
            "minimum": 0
          },
          "would_escalate": {
            "type": "integer",
            "minimum": 0
          },
          "review_required": {
            "type": "integer",
            "minimum": 0
          },
          "non_allow_count": {
            "type": "integer",
            "minimum": 0
          },
          "non_allow_rate": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "policy_drift_count": {
            "type": "integer",
            "minimum": 0
          },
          "policy_drift_rate": {
            "type": "number",
            "minimum": 0
          },
          "near_miss_count": {
            "type": "integer",
            "minimum": 0
          },
          "near_miss_rate": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "candidate_enforcement_path_count": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          }
        },
        "additionalProperties": true
      },
      "ShadowReportCard": {
        "type": "object",
        "required": ["key", "label", "value", "rate", "severity"],
        "properties": {
          "key": {
            "type": "string",
            "enum": [
              "would_block",
              "would_escalate",
              "policy_drift",
              "near_misses",
              "candidate_enforcement_paths"
            ]
          },
          "label": {
            "type": "string"
          },
          "value": {
            "type": "integer",
            "minimum": 0
          },
          "rate": {
            "type": ["number", "null"],
            "minimum": 0
          },
          "severity": {
            "type": "string",
            "enum": ["high", "medium", "low"]
          }
        },
        "additionalProperties": true
      },
      "ShadowReportReason": {
        "type": "object",
        "required": ["reason_code", "count"],
        "properties": {
          "reason_code": {
            "type": "string",
            "minLength": 1
          },
          "count": {
            "type": "integer",
            "minimum": 1
          }
        },
        "additionalProperties": true
      },
      "ShadowReportPath": {
        "type": "object",
        "required": [
          "path_key",
          "workflow_key",
          "decision_type",
          "total",
          "would_allow",
          "would_block",
          "would_escalate",
          "review_required",
          "near_miss_count",
          "non_allow_rate",
          "near_miss_rate",
          "last_seen_at",
          "recommendation"
        ],
        "properties": {
          "path_key": {
            "type": "string"
          },
          "workflow_key": {
            "type": ["string", "null"]
          },
          "decision_type": {
            "type": "string"
          },
          "total": {
            "type": "integer",
            "minimum": 1
          },
          "would_allow": {
            "type": "integer",
            "minimum": 0
          },
          "would_block": {
            "type": "integer",
            "minimum": 0
          },
          "would_escalate": {
            "type": "integer",
            "minimum": 0
          },
          "review_required": {
            "type": "integer",
            "minimum": 0
          },
          "near_miss_count": {
            "type": "integer",
            "minimum": 0
          },
          "non_allow_rate": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "near_miss_rate": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "last_seen_at": {
            "type": "string",
            "format": "date-time"
          },
          "recommendation": {
            "type": "string",
            "enum": ["CANDIDATE_FOR_ENFORCEMENT", "REVIEW_POLICY_BOUNDARY", "COLLECT_MORE_TRAFFIC"]
          }
        },
        "additionalProperties": true
      },
      "ShadowReportEvaluation": {
        "type": "object",
        "required": [
          "evaluation_id",
          "dossier_id",
          "decision_type",
          "workflow_key",
          "outcome",
          "execution_action",
          "confidence",
          "risk_score",
          "policy_version",
          "reason_codes",
          "created_at",
          "dossier_api_path"
        ],
        "properties": {
          "evaluation_id": {
            "type": "string",
            "format": "uuid"
          },
          "dossier_id": {
            "type": "string",
            "format": "uuid"
          },
          "decision_type": {
            "type": "string"
          },
          "workflow_key": {
            "type": ["string", "null"]
          },
          "outcome": {
            "type": "string",
            "enum": ["APPROVE", "ESCALATE", "REJECT", "REVIEW"]
          },
          "execution_action": {
            "type": "string",
            "enum": ["CONTINUE", "STOP", "HAND_OFF", "REVIEW"]
          },
          "confidence": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "risk_score": {
            "type": ["number", "null"]
          },
          "policy_version": {
            "type": "string"
          },
          "reason_codes": {
            "type": "array",
            "maxItems": 20,
            "items": {
              "type": "string",
              "minLength": 1
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "dossier_api_path": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "Error": {
        "type": "object",
        "additionalProperties": false,
        "required": ["error", "message"],
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "responses": {
      "HistoricalError": {
        "description": "Stable, non-sensitive historical API error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/HistoricalError"
            }
          }
        }
      },
      "HistoricalRateLimit": {
        "description": "Rate limited; starts allow three requests per minute per licensed organization and grant",
        "headers": {
          "Retry-After": {
            "schema": {
              "type": "integer",
              "const": 60
            }
          },
          "X-RateLimit-Limit": {
            "schema": {
              "type": "integer"
            }
          },
          "X-RateLimit-Remaining": {
            "schema": {
              "type": "integer",
              "const": 0
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/HistoricalError"
            }
          }
        }
      },
      "Error": {
        "description": "Bounded error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "x-decionis-source": {
    "path": "connectors/erp-guard/openapi/CommerceGateErp.v1.yaml",
    "sha256": "285e48a4e5e4fe2cf9e67f685bd7a5884bad88c6df29f48852435cb15e93a63e"
  }
}
